<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684515143482-v34ptvdp2rvoqii02n1eksjt5o3u0vie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684515143482-v34ptvdp2rvoqii02n1eksjt5o3u0vie</string>
	<key>API_KEY</key>
	<string>AIzaSyB6_rgrmU2A_kf8iMUTu6WCbxQc_unrV2M</string>
	<key>GCM_SENDER_ID</key>
	<string>684515143482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yinzhema.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-27d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-27d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684515143482:ios:b3a5d40ef046eaa7e72a03</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-27d1a.firebaseio.com</string>
</dict>
</plist>